<ion-header>
  <ion-toolbar>
    <ion-title>Edytuj</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/bookings/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <ion-list lines="full">
    <form [formGroup]="editForm" (ngSubmit)="updateForm()">
      <ion-item>
        <ion-label position="floating">Imie</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Mobile</ion-label>
        <ion-input formControlName="mobile" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Edytuj</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>