<ion-header>
  <ion-toolbar>
    <ion-title>Zamówienia</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/admin-main-page/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content> 
 <ion-searchbar></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let booking of Bookings " lines="full">
      <ion-label>
        <strong>{{booking.name}}</strong>
        <p>{{booking.status}}</p>
      </ion-label>
      <div item-end>
          <ion-icon name="create-outline" (click)="goToBookingPage(booking.id)" style="zoom:1.5"></ion-icon>
          <ion-icon name="trash-outline" (click)="remove(booking.id)" style="zoom:1.5"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
