<ion-header>
  <ion-toolbar>
    <ion-title>Lista zamówień</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 <ion-searchbar animated placeholder="Wyszukaj" 
 inputmode="search"
 debounce="500"
 (ionCancel)="onCancel($event)"
 cancelButtonIcon="close-outline"
      showCancelButton="focus"
      showClearButton="focus"
      cancelButtonText="Cancel"
  (ionInput)="filterList($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let booking of Bookings " lines="full">
      <ion-label>
        <strong>{{booking.name}}</strong>
        <p>{{booking.address}}</p>
      </ion-label>
      <div item-end>
        <button [routerLink]="['/updatebooking/', booking.id]">
          <ion-icon name="create" style="zoom:1.5"></ion-icon>
        </button>
        <button (click)="remove(booking.id)">
          <ion-icon name="trash" style="zoom:1.5"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>