<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Panel pracownika</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/home/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="sign-in-content">
  <h2>
    <img src="./assets/imgs/LogoCircle2.png" />
  </h2>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="email" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Hasło</ion-label>
    <ion-input type="password" [(ngModel)]="user.pw"></ion-input>
  </ion-item>
  <ion-button (click)="signIn()"> Zaloguj </ion-button>
</ion-content>
