<ion-header>
  <ion-toolbar>
    <ion-title>Oferta</ion-title>
    <ion-buttons class="buttons" slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
 <ion-searchbar
  placeholder="Wyszukaj" 
  [(ngModel)]="term" >
  </ion-searchbar>
 <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let blind of blinds | filter:term">
        <ion-card 
           class="img-box"
           [style.background-image]="'url('+ blind.url +')'"
           (click) = "goToDetailPage(blind.id)" [item]="blind" >
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>