.img-box {
    width: 90%;
    min-height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .detail-info{
    text-align: center;
    font-size: small;
    padding: 20px;
  }