<ion-header>
 <ion-toolbar color="primary">  
     <ion-title class="title">  
       Rolldar
     </ion-title>  
   </ion-toolbar>   
</ion-header>
<ion-content class="ion-padding ion-text-center" color="primary">
<div>
    <ion-grid class="ion-align-items-center">
      <ion-row>
        <ion-col>
          <img src="./assets/imgs/Rolldar.png">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="hometext">
          <ion-card-header>ZALOGUJ SIĘ JAKO </ion-card-header>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="buttonsColumn">
          <ion-button color="light" routerLink="/sign-in">
            <ion-icon color="primary" name="person-outline"></ion-icon>&nbsp;
           <p> Klient </p>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="light" routerLink="/employeelogin">
            <ion-icon color="primary" name="people-circle-outline"></ion-icon>&nbsp;
           <p> Pracownik </p>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>  
</div>
</ion-content>