<ion-header>
 <ion-toolbar color="primary">  
     <ion-title>  
       Rolldar
     </ion-title>  
   </ion-toolbar>   
</ion-header>
<ion-content>
<div id="container">
    <ion-grid class="ion-align-items-center">
      <ion-row>
        <ion-col>
          <img src="./assets/imgs/LogoCircle2.png">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="hometext">
          <span>ZALOGUJ SIĘ JAKO </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="button-add" routerLink="/sign-in">
            <ion-icon name="person-outline"></ion-icon>&nbsp;
           Klient
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="button-show" routerLink="/employeelogin">
            <ion-icon name="people-circle-outline"></ion-icon>&nbsp;
            Pracownik
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>   
</ion-content>